
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.env*
.vercel

# TypeScript
*.tsbuildinfo
.env*.local
